* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*loading */
.spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgb(57, 54, 54);
}